<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<!--suppress XmlWrongRootElement -->
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{1} - %msg%n"/>
        </Console>
        <RollingFile name="Log" fileName="logs/ARFFEraiki.log"
                     filePattern="logs/ARFFEraiki_%d{yyyy-MM-dd}_%i.log">
            <ThresholdFilter level="TRACE" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="Log" level="debug"/>
        </Root>
    </Loggers>
</Configuration>